* {
     padding: 0;
     margin: 0;
     box-shadow: 0;
}
body{
     background-color: #1A0B2E;
}

.inter {
     font-family: "Inter", sans-serif;
     font-style: normal;
}

.nav-section {
     display: flex;
     justify-content: space-between;
     max-width: 1600px;
     margin: 0 auto;
     padding: 30px 100px;
     border-bottom: 1px solid #412567;
}

.logo {
     font-size: 28px;
     font-weight: 700;
}

.logo h2 {
     color: #ffffff;
}


/* support session */
.logo h2 span {
     background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.menu ul {
     display: flex;
     justify-content: space-between;
     padding-top: 20px;
     gap: 32px;
     font-size: 16px;
     font-weight: 500;
     line-height: 120%;
     color: #FFFFFF;
}

li {
     list-style: none;
}

li a {
     color: #FFFFFF;
     text-decoration: none;
}



.btn {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     padding: 12px 20px;
     background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
     border: none;
     border-radius: 50px;
     font-size: 16px;
     font-weight: 600;
     color: #FFFFFF;
     text-align: center;
}


/* header section */

header {
     text-align: center;
     padding-top: 100px;
     margin-bottom: 100px;
}
.hero-container{
     /* background-color: #F7E93F ; */
     /* padding-top: 100px; */
     justify-content: center;
     align-items: center;
     text-align: center;
}

.img-content{
     background-image: url(./assets/hero-bg.png);
     background-repeat: no-repeat;
}


.img{
     background-image: url(./assets/hero-circle.png);
     background-repeat: no-repeat;
     max-width: 1600px;
     margin: 0 auto;
}

.img-content span{
     background-color: #00FF88;
     padding: 8px 16px;
     border-radius: 20px;
     font-size: 18px;
     font-weight: 600;
     color: #1A0B2E;

}

h2{
     font-size: 60px;
     color: #ffffff;
     margin-bottom: 10px;
     font-weight: 700;
}

p{
     font-size: 1.5rem;
     font-weight: 400;
     color: #ffffff;
     opacity: 75%;
     margin-bottom: 25px;
}

.hero-button{
     display: flex;
     gap: 10px;
     justify-content: center;
}



.btn-2{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 15px;
     padding: 12px 20px;
     border: 1px solid #00FF88;
     border-radius: 50px;
     font-size: 16px;
     font-weight: 600;
     color: #00FF88;
     background-color: #ffffff00;
     
}



/* podcast section  */

.podcast-container{
     max-width: 1600px;
     margin: 0 auto;
     padding: 50px 200px 60px 200px;
}


.line{
     border-bottom: 1px solid #412567;
     margin-bottom: 80px;
}


.rating-card{
     display: flex;
     justify-content: space-between;
}

.rating-card h2{
     color: #00FF88;
}

/* episodes-container */

.episodes{
     background-color: #1A0B2E;
     max-width: 1600px;
     margin: 0 auto;
     padding: 60px 120px 120px 120px;
}
.episodes h2{
     text-align: center;
     margin-bottom: 40px;
}

.episodes-container{
     display: flex;
     align-items: center;
     gap: 30px;
}

.card-episodes{
     background-color: #250D44;
    border-radius: 15px;
    overflow: hidden;
}

.card-content{
     padding: 20px;
}
.card-content h4 {
     font-size: 24px;
     font-weight: 600;
     color: #FFFFFF;
     margin-bottom: 12px;
}



h5{
     display: flex;
     color: #00FF88;
     font-size: 16;
     font-weight: 600;
     gap: 10px;
}

.host{
     max-width: 1600px;
     margin: 0 auto;
     padding: 0 120px;
}

.host h2{
     text-align: center;
     margin-bottom: 40px;
}

.host-container{
     display: flex;
     align-items: center;
     background-color: #250D44;
     border-radius: 40px;
     padding: 40px;
     gap: 4em;
}

.host-content h3{
     font-size: 2rem;
     font-weight: 600;
     margin-bottom: 16px;
     color: #FFFFFF;
}
.icon{
     display: flex;
     gap: 10px;
}
.icon img{
     background-image: url(./assets/Ellipse\ 4.png);
     background-repeat: no-repeat;
     padding: 12px;
}