* {
     padding: 0;
     margin: 0;
     box-shadow: 0;
     background-color: #1A0B2E;
}

.inter {
     font-family: "Inter", sans-serif;
     font-style: normal;
}

.nav-section {
     display: flex;
     justify-content: space-between;
     max-width: 1600px;
     margin: 0 auto;
     padding: 30px 100px;
     border-bottom: 1px solid #412567;
}

.logo {
     font-size: 28px;
     font-weight: 700;
}

.logo h2 {
     -webkit-text-stroke: 1px #000000;
     color: #ffffff;
}


/* support session */
.logo h2 span {
     background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.menu ul {
     display: flex;
     justify-content: space-between;
     padding-top: 20px;
     gap: 32px;
     font-size: 16px;
     font-weight: 500;
     line-height: 120%;
     color: #FFFFFF;
}

li {
     list-style: none;
}

li a {
     color: #FFFFFF;
     text-decoration: none;
}



.btn {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     padding: 12px 20px;
     background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
     border: none;
     border-radius: 50px;
     font-size: 16px;
     font-weight: 600;
     color: #FFFFFF;
     text-align: center;
}


/* support session */
button img {
     color: red;
     background-color: rgba(245, 222, 179, 0);
}


/* header section */

header {
     text-align: center;
     padding-top: 100px;
     margin-bottom: 100px;
}
.hero-container{
     /* background-color: #F7E93F ; */
     /* padding-top: 100px; */
     justify-content: center;
     align-items: center;
     text-align: center;
}

.img-content{
     background-image: url(./assets/hero-bg.png);
     background-repeat: no-repeat;
}


.img{
     background-image: url(./assets/hero-circle.png);
     background-repeat: no-repeat;
     max-width: 1600px;
     margin: 0 auto;
}

.img-content span{
     background-color: #00FF88;
     padding: 8px 16px;
     border-radius: 20px;
     font-size: 18px;
     font-weight: 600;
     color: #1A0B2E;

}

.content h2{
     font-size: 60px;
     color: #ffffff;
     margin-bottom: 8px;
     font-weight: 700;
}

.content p{
     font-size: 16px;
     font-weight: 400;
     color: #ffffff;
     opacity: 75%;
     margin-bottom: 25px;
}

.hero-button{
     display: flex;
     gap: 10px;
     align-items: center;
}



.btn-2{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 15px;
     padding: 12px 20px;
     border: 1px solid #00FF88;
     border-radius: 50px;
     font-size: 16px;
     font-weight: 600;
     color: #00FF88;
     /* text-align: center; */
}
.btn-2 img{
     color: #00FF88;
}



/* podcast section  */

.podcast{
     max-width: 1600px;
     margin: 0 auto;
     padding: 50px 200px 120px 200px;
}
.pod-contant h2{
     font-size: 48px;
     font-weight: 700;
     text-align: center;
     color: #FFFFFF;
     margin-bottom: 16px;
}
.pod-contant p{
     font-size: 16px;
     font-weight: 400;
     text-align: center;
     margin-bottom: 80px;
     color: #FFFFFF;
     opacity: 75%;
     /* margin-bottom: 80px;
     border-bottom: 1px solid #412567; */
}

.line{
     border-bottom: 1px solid #412567;
     margin-bottom: 80px;
}


.rating-card{
     display: flex;
     gap: 100px;
     align-items: center;
}

.rating-card h2{
     font-size: 40px;
     font-weight: 700;
     color: #00FF88;
     text-align: center;
     margin-bottom: 16px;
}

.rating-card p{
     font-size: 16px;
     font-size: 400;
     color: #FFFFFF;
     opacity: 75%;
}