* {
     padding: 0;
     margin: 0;
     box-shadow: 0;
     background-color: #1A0B2E;
}

.inter {
     font-family: "Inter", sans-serif;
     font-style: normal;
}

.nav-section {
     display: flex;
     justify-content: space-between;
     max-width: 1600px;
     margin: 0 auto;
     padding: 30px 100px;
     border-bottom: 1px solid #412567;
}

.logo {
     font-size: 28px;
     font-weight: 700;
}

.logo h2 {
     -webkit-text-stroke: 1px #000000;
     color: #ffffff;
}


/* support session */
.logo h2 span {
     background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.menu ul {
     display: flex;
     justify-content: space-between;
     padding-top: 20px;
     gap: 32px;
     font-size: 16px;
     font-weight: 500;
     line-height: 120%;
     color: #FFFFFF;
}

li {
     list-style: none;
}

li a {
     color: #FFFFFF;
     text-decoration: none;
}



button {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     padding: 12px 20px;
     background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
     width: 135px;
     border: none;
     border-radius: 50px;
     font-size: 16px;
     font-weight: 600;
     color: #FFFFFF;
}


/* support session */
button img {
     color: red;
     background-color: rgba(245, 222, 179, 0);
}