* {
     padding: 0;
     margin: 0;
     box-shadow: 0;
}
body{
     background-color: #1A0B2E;
}

.inter {
     font-family: "Inter", sans-serif;
     font-style: normal;
}

.nav-section {
     display: flex;
     justify-content: space-between;
     max-width: 1600px;
     margin: 0 auto;
     padding: 30px 100px;
     border-bottom: 1px solid #412567;
}

.logo {
     font-size: 28px;
     font-weight: 700;
}

.logo h2 {
     color: #ffffff;
}

.logo h2 span {
     background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.menu ul {
     display: flex;
     justify-content: space-between;
     padding-top: 20px;
     gap: 32px;
     font-size: 16px;
     font-weight: 500;
     line-height: 120%;
     color: #FFFFFF;
}


.nav-icon{
     display: none;
}

li {
     list-style: none;
}

li a {
     color: #FFFFFF;
     text-decoration: none;
}



.btn {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     padding: 12px 20px;
     background: linear-gradient(45deg, #f7e93f, #FB09B4, #9100F8);
     border: none;
     border-radius: 50px;
     font-size: 16px;
     font-weight: 600;
     color: #FFFFFF;
     text-align: center;
     cursor: pointer;
}

button:hover{
     transform: translateY(-3px);
     box-shadow: 0 10px 30px rgba(145, 5, 226, 0.635);
}


/* header section */

header {
     text-align: center;
     margin-bottom: 20px;
}
.hero-container{
     justify-content: center;
     align-items: center;
     text-align: center;
}

.img-content{
     background-image: url(./assets/hero-bg.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: top center;
     padding: 200px 20px 0 0;
}

.badge{
     position: absolute;
     left: 695px;
     top: 20px;
}

.img{
     background-image: url(./assets/hero-circle.png);
     background-size: 250px;
     padding: 30px;
     background-position: center;
     background-repeat: no-repeat;
     position: relative;
     margin-bottom: 90px;
     top: -110px;
}
.img img{
     width: 120px;
}

.img-content img{
     animation: pulse 2s infinite;
}

@keyframes pulse {
     0%, 100% {
          transform: scale(1);
     }
     50% { transform: scale(1.1);}
}

.img-content span{
     background-color: #00FF88;
     padding: 8px 16px;
     border-radius: 20px;
     font-size: 18px;
     font-weight: 600;
     color: #1A0B2E;

}

h2{
     font-size: 2.5rem;
     color: #ffffff;
     margin-bottom: 10px;
     font-weight: 700;
}

p{
     font-size: 1rem;
     font-weight: 400;
     color: #ffffff;
     opacity: 75%;
     margin-bottom: 25px;
}

.hero-button{
     display: flex;
     gap: 10px;
     justify-content: center;
}



.btn-2{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 15px;
     padding: 12px 20px;
     border: 1px solid #00FF88;
     border-radius: 50px;
     font-size: 16px;
     font-weight: 600;
     color: #00FF88;
     background-color: #ffffff00;
     cursor: pointer;
}



/* podcast section  */

.podcast-container{
     max-width: 1600px;
     margin: 0 auto;
     padding: 50px 200px 60px 200px;
     text-align: center;
}


.line{
     border-bottom: 1px solid #412567;
     margin-bottom: 80px;
}


.rating-card{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}

.card:hover{
     transform: translateY(-10px);
}


.rating-card h2{
     color: #00FF88;
}

/* Choose TechWave */

.choose-container{
     background-color: #35116566;
     max-width: 1600px;
     margin: 0 auto;
     padding: 100px 200px;
}

.choose-content{
     display: grid;
     grid-template-columns: repeat(3, 3fr);
     grid-template-rows: repeat(2, 200px);
     gap: 30px;
}

.choose-container h2{
     text-align: center;
     margin-bottom: 2.5rem;
}

.chose-card{
     background-color: #9100f83d;
     justify-content: center;
     border-radius: 30px;
     padding: 30px;
}

.grid-img-1{
     grid-row: 1/span 2;
}

.gird-img-2, .grid-img-3{
     grid-column: 2/span 4;
}

.gird-img-4{
     grid-column: 1/ span 2;
}

.grid-img-5{
     grid-column: 3/ span 3;
}

/* episodes-container */

.episodes{
     background-color: #1A0B2E;
     max-width: 1600px;
     margin: 0 auto;
     padding: 60px 120px 120px 120px;
}
.episodes h2{
     text-align: center;
     margin-bottom: 40px;
}

.episodes-container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     text-align: left;
     gap: 30px;
}

.card-episodes{
     background-color: #250D44;
    border-radius: 15px;
    overflow: hidden;
}

.card-episodes:hover{
     transform: translateY(-3px);
     box-shadow: 0 10px 30px rgba(145, 5, 226, 0.635);
}

.video-content iframe{
     width: 100%;
     height: 11rem;
}

.card-content{
     padding: 20px;
}


h5{
     display: flex;
     color: #00FF88;
     font-size: 16;
     font-weight: 600;
     gap: 10px;
}

/* Meet the Host section  */

.host{
     max-width: 1600px;
     margin: 0 auto;
     padding: 0 120px;
}

.host h2{
     text-align: center;
     margin-bottom: 40px;
}

.host-container{
     display: flex;
     align-items: center;
     background-color: #250D44;
     border-radius: 40px;
     padding: 40px;
     gap: .5rem;
     margin-bottom: 120px;
}


.host-container:hover{
     transform: translateY(-3px);
     box-shadow: 0 10px 30px rgba(145, 5, 226, 0.635);
}

h3{
     font-size: 1rem;
     font-weight: 600;
     margin-bottom: 16px;
     color: #FFFFFF;
}
.icon{
     display: flex;
     gap: 10px;
}
.icon img{
     background-image: url(./assets/Ellipse\ 4.png);
     background-repeat: no-repeat;
     padding: 12px;
}

/* footer section  */

footer{
     background-image: url(./assets/footer-bg.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}
.footer-content{
     text-align: center;
     padding: 100px;
}

.footer-content h2{
     margin-bottom: 35px;
}
.footer-icon{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     color: #FFFFFF;
     opacity: 75%;
     gap: 2.5rem;
     margin-bottom: 35px;
}
.footer-icon span{
     display: flex;
     gap: .5rem;
}



@media screen and (max-width: 576px) {

     /* nav section  */
     .nav-section{
          justify-content: space-between;
          align-items: center;
          padding: 18px;
          max-width: 576px;
          margin: 0 auto;
     }
     .menu{
          position: absolute;
          display: none;
          flex-direction: column;
          text-align: center;
     }

     .nav-section .btn{
          display: none;
     }
     
     .nav-icon{
          display: block;
     }

     /* shear  */

     h2{
          font-size: 30px;
     }

     p{
          font-size: 11px;
          line-height: 20px;
     }

     /* hero section  */

     .img-content{
          padding: 30px 30px 3px 30px;
     }

     .img{
     background-image: url(./assets/hero-circle.png);
     background-size: 130px;
     padding: 30px;
     background-position: center;
     background-repeat: no-repeat;
     position: relative;
     top: -5px;
     }

     .img img {
          width: 42px;
     }

     .hero-container span{
          font-size: 9px;
          
     }
     .badge{
          left: 195px;
          top: 8px;
     }

     .content{
         padding: 0 20px;
     }


     .content p{
          margin-bottom: 15px;
     }

     .hero-button{
          padding: 0 20px;
     }
     .hero-button .btn, .btn-2{
          font-size: 12px;
          padding: 10px;
          gap: 5px;
     }

     /* about the podcast */
     .podcast-container{
          max-width: 100%;
          text-align: center;
          padding: 20px;
     }
     .rating-card{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
     }

     .line{
          margin-bottom: 40px;
     }

     /* Why Choose TechWave */

     .choose-container{
          max-width: 100%;
          text-align: center;
          padding: 20px;
     }

     .choose-container h2{
           margin-bottom: 20px;
     }

     .choose-content{ 
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          text-align: left;
     }

     .choose-content img{
          margin-bottom: 10px;
     }

     .choose-content h3{
          margin-bottom: 10px;
     }

     .grid-img-3 p{
          font-size: 13px;
     }

     /* Featured Episodes */

     .episodes{
          max-width: 100%;
          text-align: center;
          padding: 20px;
     }

     .episodes h2{
          margin-bottom: 20px;
     }

     .episodes-container{
          display: flex;
          flex-direction: column;
          text-align: left;
     }
     .card-content h3, p{
          margin-bottom: 10px;
     }

     /* Meet the Host */

     .host{
          max-width: 100%;
          text-align: center;
          padding: 20px;
     }

     .host h2{
           margin-bottom: 20px;
     }
     .host-container{
          flex-direction: column;
          margin-bottom: 20px;
          border-radius: 20px;
     }

     .icon{
          justify-content: center;
     }

     /* footer  */

     footer{
          background-image: url(./assets/footer-bg.png);
          background-repeat: no-repeat;
          background-size: 180%;
          background-position: center;
     }

     .footer-content{
          text-align: center;
          padding: 20px;
     }
     .footer-content h2{
     margin-bottom: 10px;
}

     .footer-icon {
          margin-bottom: 10px;
          gap: 20px;
     }

}